body {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 200px;
	margin-bottom: 200px;
	/*background-color: #3c424f;*/
	background-color: #525252;
	color: #ffffff;
	text-align: left;
	opacity: 1;
	animation: fadeIn 2s ease;
	font-family: 'Nunito', sans-serif;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	margin-top: 100px;
	font-size: 60px;
	font-family: "Palatino";
	/*color: #bfd6f2;*/
	/*color: #f8fab4;*/
	color: #ffffff;
	font-family: 'Karma', serif;
}

h2 {
	font-size: 26px;
	border-style: hidden hidden solid hidden;
	border-width: 2px;
	border-color: #a5ccb0;
	padding-bottom: 5px;
	display: inline-grid;
	font-family: 'Karma', serif;
}

a {
	color: white;
	text-decoration: none;
}

img {
	width: 92%;
	padding-right: 50px;
	height: auto;
}

.align_left {
	text-align: left;
}

.button {
	transition: transform .2s ease;
	margin: 0 auto;
	display: inline-block;
	text-decoration-color: black;
}

.button:link {
	color: #000000;
}

.button:visited {
	color: #000000;
	text-decoration-color: black; 
}

.button:hover {
	transform: scale(1.15);
}

.currents {
	font-size: 18px;
	margin-bottom: 50px;
}

.main_menu {
	color: #a5ccb0;
	margin-top: 20px;
	font-size: 22px;
	display: inline-block;
	font-weight: bold;
}

.text {
	font-size: 20px; 
}

.block {
	margin-bottom: 40px;
}

.bold_text {
	font-size: 20px;
	font-weight: bold;
}



